@model PeliculasWeb.Models.UsuarioM
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Acceso de usuarios</h1>

<div class="row mt-4">
    <div class="col-sm-12">
        @if (TempData["alert"] != null)
        {
            //Bootstrap. alert dismisible. https://getbootstrap.com/docs/5.1/components/alerts/
            <h5><div class="alert alert-danger alert-dismissible fade show" role="alert"></div></h5>
            <strong>@TempData["alert"]</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>

        }
    </div>
</div>

<div class="row">
    <div class="col-sm-6 offset-3">
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label for="Usuario">Usuario:</label>
                <input type="text" asp-for="Usuario" class="form-control" placeholder="Ingrese el usuario" />
                <span asp-validation-for="Usuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="contrasenia">Contraseña:</label>
                <input type="password" asp-for="Password" class="form-control" placeholder="Ingrese la contraseña" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary w-100">Ingresar</button>
        </form>
    </div>
</div>

